body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    /* overflow: hidden; */
    box-sizing: border-box;
}
video{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    object-fit: cover;
}
.pa{
    position: absolute;
}
#btnBox{
    box-sizing: border-box;
    margin-top: calc(100vh - 50px);
    background-color: rgba(255, 255, 255, 0);
}
.circle{
    width: 35px;
    height: 35px;
    border: 2px solid gray;
    box-sizing: border-box;
    border-radius: 50%;
    margin-bottom: 2px;
}
.cc{
    width: 0;
    height: 0;
    overflow: scroll;
}
.bi-camera{
    color: gray;
}