body {
  display: flex;
  flex-direction: column;
  margin:0;;
  padding:0;
  overflow-y:hidden;
}
.c{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
}
canvas{
    border: 1px solid gray;
    box-sizing: border-box;
    position: absolute;
    margin-top: -50px;
}
.container0{
    overflow: scroll;
    width: 0;
    height: 0;
}
.container1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cContent{
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
}
.btnBox{
    margin-top: calc(100vh - 50px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100vw;
    position: absolute;
}
video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.btn{
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 3px black);
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid lightgray;
    border-radius: 50%;
    transform: scale(1.3);
}
video{
    transform:rotateY(180deg);
}
.dsn{
    display: none !important;
}
#notLoad{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
}
.bi{
    font-size: 22px;
    color: lightgray;
}
.morab{
    width: 12px;
    height: 12px;
    background-color: lightgray;
    border-radius: 3px;
}
.fs16{
    font-size: 16px !important;
}
#flipCamera{
    color: lightgray;
    font-size: 16px;
}
.fs18{
    font-size: 18px;
}
.btnSVG{
    width: 40px;
    height: 41px;
    border: 0 !important;
    margin-top: -3px;
}
.startLime{
    border: 2px solid lime !important;
}
.playLime{
    color: lime !important;
}
.stopRed{
    border: 2px solid red !important;
}
.morRed{
    background-color: red;
}
@keyframes dnAnim {
    from {
        /* transform:scale(1); */
        border:2px solid lightgray;
    }
    to {
        /* transform:scale(1.1); */
        border: 2px solid gold;
    }
}
.setDnAdmin{
    animation-name: dnAnim;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes dnAnimT {
    from {
        color: lightgray;
    }
    to {
        color: gold;
    }
}
.setDnAdminT{
    animation-name: dnAnimT;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* setDnAdminT setDnAdmin */
.flipB{
    border: 2px solid rgb(0, 119, 255);
}
.flipI{
    color: rgb(0, 119, 255);
}

@keyframes ARAdmin {
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(180deg);
    }
}

.setARAdmin{
    animation-name: ARAdmin;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.pauseActive{
    border: 2px solid lime !important;
}
.pauseIActive{
    color: lime !important;
}