#container{
    box-sizing: border-box;
    width: 100vw;
}
.whiteSpace{
    width: calc(100vw - 140px);
    height: 15px;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.leftBox{
    margin-right: calc(100vw - 8px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.rightBox{
    margin-left: calc(100vw - 9px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.mbox{
    width: 6px;
    height: 34vh;
    background-color: rgb(0, 200, 255);
    position: absolute;
    margin-top: 42vh;
}
.mainIcon{
    width: calc(100vw - 100px);
    height: calc(62.5vw - 62.5px);
    border: 1px solid black;
    margin-left: -20px;
    margin-top: 100px;
    background-image: url(../images/argumented-reality.png);
    background-size: cover;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 3px black);
}
.arTextLogo{
    font-size: 50px;
    font-family: 'adine';
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.05px rgb(255 0 104);
    -webkit-text-fill-color: blue;
    text-shadow: 2px 2px 4px white;
}
#menu{
    width: 100vw;
    height: 60px;
    border: 1px solid white;
    box-sizing: border-box;
    border-top: 3px solid white;
    font-size: 30px;
    box-shadow: -2px 0 11px #9f9f9f;
    position: fixed;
    background-color: white;
    margin-top: calc(100vh - 60px);
}
#center{
    width: 100vw;
    box-sizing: border-box;
    margin-top: 60px;
    overflow-y: scroll;
}
#center::-webkit-scrollbar{
    display: none;
}
.post{
    width: calc(33vw - 5.5px);
    height: calc(33vw - 5.5px);
    box-sizing: border-box;
    margin-left: 1px;
    margin-top: 1px;
    background-size: cover;
}
#postContent{
    width: calc(100vw - 16px);
    height: 100%;
    overflow-y: scroll;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.i1{
    background-image: url(../images/img1.jpg);
}
.i2{
    background-image: url(../images/img2.jpg);
}
.i3{
    background-image: url(../images/img3.jpg);
}
.i4{
    background-image: url(../images/img4.jpg);
}
.i5{
    background-image: url(../images/img5.jpg);
}
.i6{
    background-image: url(../images/img6.jpg);
}
.i7{
    background-image: url(../images/img7.jpg);
}
.oth{
    left: 15px;
    top: 40px;
    font-size: 30px;
    color: black;
}
.log{
    right: 15px;
    top: 40px;
    font-size: 30px;
    color: black;
}
#profilePicture{
    width: 60px;
    height: 60px;
    border: 2px solid rgb(0,220,255);
    background-image: url(../images/img2.jpg);
    background-size: cover;
    border-radius: 50%;
    box-sizing: border-box;
}
.poc{
    height: 40px;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'robotoR';
    font-weight: bold;
}
.bi-person-circle{
    color: rgb(0, 200, 255);
}
.menuActive{
    color: rgb(0, 200, 255) !important;
}
#profileContent{
    margin-top: 60px;
}