.contactChatroom{
    width: calc(100vw - 10px);
    height: 50px;
    border-radius: 20px;
    background-color: white;
}
.profilePictureChatroom{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0,200,255);
    box-sizing: border-box;
    border-radius: 50%;
    background-size: cover;
    background-image: url(../images/img2.jpg);
}
#userBox{
    width: 100vw;
    border: 0;
    box-sizing: border-box;
}
#explorUserInput{
    width: calc(100vw - 90px);
    border: 1px solid #c1c1c1;
    height: 36px;
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f9f9f9;
    padding-left: 10px;
    font-size: 16px;
}
#explorUserInput:focus{
    outline: none;
}
#userButtonExplor{
    border: 1px solid #c1c1c1;
    color: gray;
    background-color: #f9f9f9;
    height: 40px;
    width: 62px;
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
}
#explorUserInput::placeholder{
    font-size: 16px;
    font-family: 'robotoR';
}
.contactImagesContentChatroom{
    width: 100vw;
    height: 70px;
    background-color: white;
}
.contactImgChatroom{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(0,200,255);
    background-size: cover;
    box-shadow: 2px 2px 4px gray;
}