body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.canvasImgContent{
    width: 0;
    height: 0;
    overflow: scroll;
}
video{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    object-fit: cover;
}
#btnBox{
    margin-top: calc(100vh - 40px);
}
#cameraBoxInImgChromaKey{
    width: 40px;
    height: 40px;
    margin-top: -10px;
    border-radius: 50%;
    border: 2px solid lightgray;
    background-color: #80808000;
    font-size: 24px;
    -webkit-text-fill-color: lightgray;
}