#comment{
    width: 100vw;
    margin: 0;
    padding: 0;
}
.commentImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid rgb(0,200,255);
    background-size: cover;
    align-self: baseline;
    margin-left: 5px;
}
.commentBoxs{
    width: calc(100vw - 90px);
    font-size: 10px;
    letter-spacing: 0.4px;
    font-family: 'latob';
    color: #545454;
}
.bcw{
    background-color: white;
}
.commentOptionBox{
    width: 25px;
    height: 40px;
    margin-right: 5px;
    align-self: flex-start;
}
.line{
    height: 1px;
    width: 20vw;
    background-color: gray;
}
.inpContentC{
    width: 100vw;
    background-color: white;
    height: 35px;
    margin-top: calc(100vh - 35px);
    box-shadow: -2px 0 10px lightgray;
}
.addCommentInput{
    width: calc(100vw - 20px);
    box-sizing: border-box;
    height: 25px;
    border: 0;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
}
.addCommentInput:focus{
    outline: none;
}
.pad40{
    padding-bottom: 40px;
}