#container4{
    height: calc(100vh - 80px);
    align-items: center;
}
.arOptionBox{
    width: calc(50vw - 15px);
    height: calc(50vw + -10px);
    border: 1px solid lightgray;
    margin-top: 10px;
    filter: drop-shadow(2px 4px 6px black);
    background-color: white;
}
.optionLogoAR{
    width: calc(50vw - 20px);
    height: calc(50vw - 50px);
    background-size: cover;
}
.optionName{
    width: calc(50vw - 20px);
    height: 30px;
    font-size: 12px;
    font-family: 'monR';
    text-align: center;
}
.iar1{
    background-image: url(../images/ai.jpg);
}
.iar2{
    background: linear-gradient(45deg, #0164fe, rgb(158 229 249))
}
.cameraARL{
    background-image: url(../images/camera.png);
    width: 90px;
    height: 90px;
    background-size: cover;
    filter: drop-shadow(2px 4px 6px black);
}
.videoARL{
    background-image: url(../images/video.png);
    width: 90px;
    height: 90px;
    background-size: cover;
    filter: drop-shadow(2px 4px 6px black);
}
.aiARL{
    background-image: url(../images/ai.png);
    width: 83px;
    height: 85px;
    background-size: cover;
    filter: drop-shadow(2px 4px 6px black);
}
.majicWandARL{
    background-image: url(../images/majicWand.png);
    width: 90px;
    height: 90px;
    background-size: cover;
    filter: drop-shadow(2px 4px 6px black);
}