#explor{
    width: 100vw;
    box-sizing: border-box;
}
#searchBox{
    width: 100vw;
    height: 60px;
    border: 0;
    border-bottom: 1px solid #c1c1c1;
    box-sizing: border-box;
}
#explorSearchInput{
    width: calc(100vw - 100px);
    border: 1px solid #c1c1c1;
    height: 35px;
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
}
#searchButtonExplor{
    border: 1px solid #c1c1c1;
    color: gray;
    background-color: white;
    height: 39px;
    width: 64px;
    border-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
}
#explorSearchInput::placeholder{
    font-size: 16px;
    font-family: 'robotoR';
}
#explorSearchInput:focus{
    outline: none;
}
.halfBox{
    width: 25vw;
    height: 25vw;
    border: 1px solid white;
    box-sizing: border-box;
    background-size: cover;
}
.bigBox{
    width: 50vw;
    height: 50vw;
    border: 1px solid white;
    box-sizing: border-box;
    background-size: cover;
}
.searchResultContent{
    text-align: start;
    width: calc(100vw - 20px);
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}