.mainPostContent{
    width: 100vw;
    box-sizing: border-box;
}
.profilePictureFor{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0,200,255);
    border-radius: 50%;
    background-image: url(../images/img2.jpg);
    background-size: cover;
}
.followInPost{
    width: 60px;
    text-align: center;
    border: 1px solid lightgray;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 3px;
    color: gray;
    border-radius: 5px;
}
.contentBoxP{
    height: calc(62.5vw - 6.62px);
    background-size: cover;
}
.videoLargPost{
    width:calc(100vw - 10px) !important;
    height: calc(62.5vw - 6.62px) !important;
}
.postContentOption{
    width: 60px !important;
    -webkit-text-stroke: 0.5px;
}
.bi-save{
    -webkit-text-stroke: 0.5px;
}
.postw{
    width:calc(100vw - 10px);
}
.commentInput{
    width: calc(100vw - 40px) !important;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #9f9f9f;
}
.commentInput:focus{
    outline: none;
}
.mt2{
    margin-top: 2px;
}
.bi-heart-fill{
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 0;
}
.storyPicture{
    width: 45px;
    height: 45px;
    border: 1px solid rgb(0,200,255);
    border-radius: 50%;
    background-size: cover;
}
#story{
    height: 55px;
}
#storyContent{
    width: 100vw;
    overflow-x: scroll;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 1px 7px #dfdfdf;
    scroll-behavior: smooth;
}
#storyContent::-webkit-scrollbar{
    display: none;
}
.followingContainer{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: white;
    box-sizing: border-box;
    margin-top: 100px;
    border-top: 1px solid lightgray;
    box-shadow: -2px 0 18px lightgray;
    transition-property: all;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}
.followingContainerTwo{
    width: 100vw;
    height: calc(100vh - 135px);
    box-sizing: border-box;
    overflow-y: scroll;
}
.followingContainerTwo::-webkit-scrollbar{
    display: none;
}
.profilePicture{
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    background-image: url(../images/img2.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgb(0,200,255);
    box-sizing: border-box;
}
.sendPostBtn{
    background-color: blue;
    border: 1px solid lightgray;
    border-radius: 7px;
    color: white;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.OKContent{
    width: 100vw;
    height: 35px;
}
#confirmSendPosts{
    width: 0;
    padding-top: 4px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    padding-left: 26px;
    padding-right: 44px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'robotoR';
}