#container2{
    width: 100vw;
    height: 78vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 10vh;
}
.loginIcon{
    width: 100px;
    height: 100px;
    background-image: url(../images/mainIcon.png);
    background-size: cover;
}
.loginInput{
    width: calc(70vw - 50px);
    font-size: 14px;
    height: 32px;
    border: 2px solid #d3d3d3;
    padding: 6px;
    padding-left: 30px;
    font-family: 'robotoB';
    padding-right: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgb(109 164 173 / 52%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.loginInput:focus{
    outline: none;
}
.iconContent{
    width: 60px;
    height: 60px;
    background-color: white;
    font-size: 29px;
    margin-top: -8px;
    border-radius: 50%;
    border: 2px solid #d3d3d3;
    color: rgb(0,200,255);;
    box-shadow: 2px 2px 4px rgb(109 164 173 / 52%);
    position: absolute;
    margin-left: -40px;
}
.ml40{
    margin-left: 40px;
}
.mt24{
    margin-top: 24px;
}
.logText{
    font-family: 'robotoR';
}
.text1{
    font-size: 24px;
    color: gray;
}
.text2{
    color: #898989;
    font-size: 12px;
    margin-top: 8px;
}
#signup{
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background: linear-gradient(172deg, rgba(108,203,235,1) 0%, rgba(46,108,175,1) 100%);
    color: white;
    font-weight: bold;
    font-family: 'robotoR';
}
#loginBtn{
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background: linear-gradient(172deg, rgba(108,203,235,1) 0%, rgba(46,108,175,1) 100%);
    color: white;
    font-weight: bold;
    font-family: 'robotoR';
}
.circleS{
    width: 200px;
    height: 200px;
    top: -100px;
    left: -100px;
    border-radius: 50%;
}
.circleS2{
    width: 103px;
    height: 51px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom: 0;
    right: -26px;
    transform: rotate(-90deg);
    top: 100px;
}
.circleS3{
    width: 103px;
    height: 51px;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border-bottom: 0;
    right: -26px;
    transform: rotate(90deg);
    top: calc(100vh - 80px);
    left: -60px;
}
.cs{
    background-color: #0095ff0f;
}