#messenger{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#messages{
    height: calc(100vh - 100px);
    overflow-y: scroll;
}
#messages::-webkit-scrollbar{
    display: none;
}
.profilePictureInMessenger{
    width: 40px;
    height: 40px;
    background-image: url(../images/img2.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgb(0,200,255);
}
#messengerInput{
    padding-left: 10px;
    font-size: 16px;
    height: 33px;
    width: calc(100vw - 80px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid lightgray;
    background-color: #f3f3f3;
    font-family: 'robotoR';
    border-right: 0;
}
#messengerSend{
    height: 37px;
    border: 1px solid lightgray;
    border-left: 0;
    background-color: #f3f3f3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 12px;
    font-family: 'robotoB';
    color: rgb(255 0 104);
    text-transform: capitalize;
    font-size: 16px;
}
#messengerInput:focus{
    outline: none;
}
#messengerInput::placeholder{
    font-size: 16px;
    color: rgb(255 0 104);
    font-family: 'robotoB';
}
.sendMessage{
    max-width: 60vw;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 14px;
    background: linear-gradient(45deg, rgb(255 0 104), rgb(0,200,255));
    padding: 8px;
    border-radius: 17px;
    border: 1px solid lightgray;
    color: white;
    box-sizing: border-box;
    font-family: 'latoB';
}
.receiveMessage{
    max-width: 60vw;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 14px;
    background: lightgray;
    padding: 8px;
    border-radius: 17px;
    border: 1px solid lightgray;
    color: black;
    box-sizing: border-box;
    font-family: 'latoB';
}
.postContent{
    border: 1px solid lightgray;
    padding-left: 2px;
    padding-right: 2px;
    width: calc(50vw + 15px);
    height: calc(50vw + 50px);
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(255 0 104), rgb(0,200,255));
}
.postShow{
    width: calc(50vw + 10px);
    height: calc(50vw - 10px);
    border: 1px solid #520bff !important;
    background-color: lime;
    background-size: cover;
}
.w100c{
    width: calc(50vw - 10px)
}
.bcrp{
    background: lightgray !important;
}
.cbor{
    border: 1px solid gray !important;
}