.profilePicInMain{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0,200,255);
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../images/img2.jpg);
}
.mainPageOPtion{
    width: 130px;
    height: 20px;
    background-color: #e9e9e9;
    text-align: center;
    border-radius: 6px;
    font-weight: bold;
}