body{
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
.pa{
    position: absolute;
}
.pr{
    position: relative;
}
.head{
    width: 100vw;
    height: 190px;
    background-color: rgb(0, 200, 255);
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}
.frc{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.frfs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.frfe{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.frs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.frsb{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.fcc{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.fcfs{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.fcfe{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.fcs{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.fcsb{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.aic{
    align-items: center;
}
.fww{
    flex-wrap: wrap;
}
.ais{
    align-items: flex-start;
}
.ml20{
    margin-left: 20px;
}
.ml15{
    margin-left: 15px;
}
.ml10{
    margin-left: 10px;
}
.ml5{
    margin-left: 5px;
}
.mr20{
    margin-right: 20px;
}
.mr15{
    margin-right: 15px;
}
.mr10{
    margin-right: 10px;
}
.mr5{
    margin-right: 5px;
}
.mt50{
    margin-top: 50px;
}
.mt45{
    margin-top: 45px;
}
.mtt40{
    margin-top: 40px;
}
.mt30{
    margin-top: 30px;
}
.mt20{
    margin-top: 20px;
}
.mt15{
    margin-top: 15px;
}
.mt10{
    margin-top: 10px;
}
.mt5{
    margin-top: 5px;
}
.mb20{
    margin-bottom: 20px;
}
.mb15{
    margin-bottom: 15px;
}
.mb10{
    margin-bottom: 10px;
}
.mb5{
    margin-bottom: 5px;
}
.fs8{
    font-size: 8px;
}
.fs10{
    font-size: 10px;
}
.fs12{
    font-size: 12px;
}
.fs14{
    font-size: 14px;
}
.fs16{
    font-size: 16px;
}
.fs18{
    font-size: 18px;
}
.fs20{
    font-size: 20px;
}
.fs22{
    font-size: 22px;
}
.fs24{
    font-size: 24px;
}
.w100{
    width: 100vw;
}
.wh100d{
    width: 100vw;
    height: 100vh;
}
.tac{
    text-align: center;
}
.mt-20{
    margin-top: -20px;
}
.mt25{
    margin-top: 25px;
}
.fs25{
    font-size: 25px;
}
.h10{
    height: 10px;
}
.h20{
    height: 20px;
}
.h20{
    height: 20px;
}
.h30{
    height: 30px;
}
.h40{
    height: 40px;
}
.h50{
    height: 50px;
}
.cg{
    color: gray;
}
.bcw{
    background-color: white !important;
}
.bblg{
    border-bottom: 1px solid lightgray;
}
.btlg{
    border-top: 1px solid lightgray;
}
.mb40{
    padding-bottom: 50px;
}
.mt40{
    padding-top: 40px;
}
.fwb{
    font-weight: bold;
}
.tac{
    text-align: center;
}
.w60{
    width: 60px;
}
.cr{
    color: red;
}
.dsn{
    display: none !important;
}
.cgreen{
    color: green;
}
.clogo{
    color: rgb(0, 200, 255);
}
.cgray{
    color: gray;
}
.bclogo{
    background-color: rgb(0, 200, 255) !important;
}
.pf{
    position: fixed !important;
}
.pr{
    position: relative;
}
.cb{
    color: black !important;
}
.w42{
    width: 40px !important;
}
.cw{
    color: white;
}
.fdcr{
    flex-direction: column-reverse;
}